<div class="container">
    <h2>Ajouter un Département</h2>
    <form [formGroup]="departementForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Nom du Département:</label>
        <input type="text" formControlName="nom" required />
      </div>
  
      <div>
        <label>Description:</label>
        <textarea formControlName="description" required></textarea>
      </div>
  
      <div>
        <label>ID Filiale:</label>
        <input type="text" formControlName="idFiliale" required />
      </div>
  
      <button type="submit" [disabled]="departementForm.invalid">Ajouter</button>
    </form>
  </div>
  <div class="container">
    <h2>Ajouter un Département</h2>
    <form [formGroup]="departementForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Nom du Département:</label>
        <input type="text" formControlName="nom" required />
      </div>
  
      <div>
        <label>Description:</label>
        <textarea formControlName="description" required></textarea>
      </div>
  
      <div>
        <label>ID Filiale:</label>
        <input type="text" formControlName="idFiliale" required />
      </div>
  
      <button type="submit" [disabled]="departementForm.invalid">Ajouter</button>
    </form>
  </div>
  
  