<!-- src/app/authorizeDemo/admin-only/admin-only.component.html -->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header -->
  <div class="page-header">
    <div class="header-wrapper row m-0">
      <div class="header-logo-wrapper col-auto p-0">
        <div class="logo-wrapper">
          <a routerLink="/"><img class="img-fluid for-light" src="src/assets/images/logo/poulina_logo.jpg" alt="Logo"></a>
        </div>
        <div class="toggle-sidebar" (click)="toggleSidebar()">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
      <div class="nav-right col pull-right right-header p-0 ms-auto">
        <ul class="nav-menus">
          <li class="fullscreen-body">
            <span (click)="toggleFullScreen()">
              <svg id="maximize-screen">
                <use href="assets/svg/icon-sprite.svg#full-screen"></use>
              </svg>
            </span>
          </li>
          <li>
            <div class="mode" (click)="toggleDarkMode()">
              <svg>
                <use href="assets/svg/icon-sprite.svg#moon"></use>
              </svg>
            </div>
          </li>
          <li class="profile-nav onhover-dropdown pe-0 py-0">
            <div class="d-flex profile-media">
              <img class="b-r-10" src="assets/images/dashboard/profile.png" alt="Profile">
              <div class="flex-grow-1">
                <span>{{ authService.getUserFullName() }}</span>
                <p class="mb-0">Admin <i class="middle fa-solid fa-angle-down"></i></p>
              </div>
            </div>
            <ul class="profile-dropdown onhover-show-div">
              <li><a href="#" (click)="goToProfile()"><i data-feather="user"></i><span>Profile</span></a></li>
              <li><a href="#" (click)="onLogout()"><i data-feather="log-out"></i><span>Déconnexion</span></a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Page Body -->
  <div class="page-body-wrapper">
    <!-- Sidebar -->
    <div class="sidebar-wrapper" [ngClass]="{'sidebar-open': sidebarOpen}" data-sidebar-layout="stroke-svg">
      <div>
        <div class="logo-wrapper">
          <a routerLink="/"><img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="Logo"></a>
          <div class="back-btn" (click)="toggleSidebar()"><i class="fa-solid fa-angle-left"></i></div>
          <div class="toggle-sidebar" (click)="toggleSidebar()">
            <i class="status_toggle middle sidebar-toggle" data-feather="grid"></i>
          </div>
        </div>
        <div class="logo-icon-wrapper">
          <a routerLink="/"><img class="img-fluid" src="assets/images/logo/logo-icon.png" alt=""></a>
        </div>
        <nav class="sidebar-main">
          <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
          <div id="sidebar-menu">
            <ul class="sidebar-links" id="simple-bar">
              <li class="sidebar-main-title">
                <div><h6 class="lan-8">Dashboard ADMIN</h6></div>
              </li>
              <li class="sidebar-list">
                <i class="fa-solid fa-thumbtack"></i>
                <a class="sidebar-link sidebar-title" href="javascript:void(0)" (click)="toggleFilialeMenu()">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-home"></use>
                  </svg>
                  <svg class="fill-icon">
                    <use href="assets/svg/icon-sprite.svg#fill-home"></use>
                  </svg>
                  <span>Gestion des Filiale</span>
                  <i class="fa-solid fa-angle-right sub-arrow" [ngClass]="{'rotate': filialeMenuOpen}"></i>
                </a>
                <ul class="sidebar-submenu" [ngClass]="{'active': filialeMenuOpen}">
                  <li><a routerLink="/filiale-list">Consulte liste Filiale</a></li>
                  <li><a routerLink="/add-filiale">Ajouter filiale</a></li>
                </ul>
              </li>

              <li class="sidebar-list">
                <i class="fa-solid fa-thumbtack"></i>
                <a class="sidebar-link sidebar-title link-nav" routerLink="/gestion-departements" (click)="toggleDepartementMenu()">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-home"></use>
                  </svg>
                  <svg class="fill-icon">
                    <use href="assets/svg/icon-sprite.svg#fill-home"></use>
                  </svg>
                  <span>Gestion des départements</span>
                  <i class="fa-solid fa-angle-right sub-arrow" [ngClass]="{'rotate': departementMenuOpen}"></i>
                </a>
                <ul class="sidebar-submenu" [ngClass]="{'active': departementMenuOpen}">
                  <li><a routerLink="/departement-list">Consulte liste département</a></li>
                  <li><a routerLink="/add-departement">Ajouter Departements</a></li>
                </ul>
              </li>

              <li class="sidebar-list">
                <i class="fa-solid fa-thumbtack"></i>
                <a class="sidebar-link sidebar-title" href="javascript:void(0)" (click)="toggleUtilisateurMenu()">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-user"></use>
                  </svg>
                  <svg class="fill-icon">
                    <use href="assets/svg/icon-sprite.svg#fill-user"></use>
                  </svg>
                  <span>Gestion des Utilisateurs</span>
                  <i class="fa-solid fa-angle-right sub-arrow" [ngClass]="{'rotate': utilisateurMenuOpen}"></i>
                </a>
                <ul class="sidebar-submenu" [ngClass]="{'active': utilisateurMenuOpen}">
                  <li><a routerLink="/candidate-list">Consulte liste Candidate</a></li>
                  <li><a routerLink="/recruteur-list">Consulte Liste des Recruteurs</a></li>
                </ul>
              </li>

              <li class="sidebar-list">
                <i class="fa-solid fa-thumbtack"></i>
                <a class="sidebar-link sidebar-title" href="javascript:void(0)" (click)="toggleRoleMenu()">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-role"></use>
                  </svg>
                  <svg class="fill-icon">
                    <use href="assets/svg/icon-sprite.svg#fill-role"></use>
                  </svg>
                  <span>Gestion des Role</span>
                  <i class="fa-solid fa-angle-right sub-arrow" [ngClass]="{'rotate': roleMenuOpen}"></i>
                </a>
                <ul class="sidebar-submenu" [ngClass]="{'active': roleMenuOpen}">
                  <!-- Ajoutez les sous-menus pour les rôles ici si nécessaire -->
                  <li><a routerLink="/role-list">Consulte liste des rôles</a></li>
                  <li><a routerLink="/add-role">Ajouter rôle</a></li>
                </ul>
              </li>

              <li class="sidebar-list">
                <i class="fa-solid fa-thumbtack"></i>
                <a class="sidebar-link sidebar-title" href="javascript:void(0)" (click)="toggleQuizMenu()">
                  <svg class="stroke-icon">
                    <use href="assets/svg/icon-sprite.svg#stroke-quiz"></use>
                  </svg>
                  <svg class="fill-icon">
                    <use href="assets/svg/icon-sprite.svg#fill-quiz"></use>
                  </svg>
                  <span>Gestion des Quiz</span>
                  <i class="fa-solid fa-angle-right sub-arrow" [ngClass]="{'rotate': quizMenuOpen}"></i>
                </a>
                <ul class="sidebar-submenu" [ngClass]="{'active': quizMenuOpen}">
                  <!-- Ajoutez les sous-menus pour les quiz ici si nécessaire -->
                  <li><a routerLink="/quiz-list">Consulte liste des quiz</a></li>
                  <li><a routerLink="/add-quiz">Ajouter quiz</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </nav>
      </div>
    </div>

    <!-- Body Content -->
    <div class="page-body">
      <div class="container-fluid">
        <div class="page-title">
          <div class="row">
            <div class="col-sm-6">
              <h3>Default</h3>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Default</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid default-dashboard">
        <div class="row widget-grid">
          <div class="col-12">
            <div class="card profile-box">
              <div class="card-body">
                <div class="d-flex media-wrapper justify-content-between">
                  <div class="flex-grow-1">
                    <div class="greeting-user">
                      <h2 class="f-w-600">Bienvenue, {{ authService.getUserFullName() }} !</h2>
                      <p>Bienvenue chez platforme poulina recrute future Jobs</p>
                      <div class="whatsnew-btn">
                        <a class="btn btn-outline-white" href="#" (click)="goToProfile()">View Profile</a>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="clockbox">
                      <svg id="clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
                        <g id="face">
                          <circle class="circle" cx="300" cy="300" r="253.9"></circle>
                          <path class="hour-marks" d="M300.5 94V61M506 300.5h32M300.5 506v33M94 300.5H60M411.3 107.8l7.9-13.8M493 190.2l13-7.4M492.1 411.4l16.5 9.5M411 492.3l8.9 15.3M189 492.3l-9.2 15.9M107.7 411L93 419.5M107.5 189.3l-17.1-9.9M188.1 108.2l-9-15.6"></path>
                          <circle class="mid-circle" cx="300" cy="300" r="16.2"></circle>
                        </g>
                        <g id="hour">
                          <path class="hour-hand" d="M300.5 298V142"></path>
                          <circle class="sizing-box" cx="300" cy="300" r="253.9"></circle>
                        </g>
                        <g id="minute">
                          <path class="minute-hand" d="M300.5 298V67"></path>
                          <circle class="sizing-box" cx="300" cy="300" r="253.9"></circle>
                        </g>
                        <g id="second">
                          <path class="second-hand" d="M300.5 350V55"></path>
                          <circle class="sizing-box" cx="300" cy="300" r="253.9"></circle>
                        </g>
                      </svg>
                    </div>
                    <div class="badge f-10 p-0" id="txt">{{ currentTime }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Ajoutez d'autres widgets ici si nécessaire -->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 footer-copyright text-center">
            <p class="mb-0">Copyright {{ currentYear }} © Cuba Theme By Pixelstrap</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>