<header>
    <div class="job-listing-header">
      <div class="container">
        <div class="logo">
          <a href="index.html"><img src="../../../assets/User/img/logo/poulina.jpg" alt="Poulina Group Holding"></a>
        </div>
        <nav class="main-nav">
          <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a class="active" href="/job-list">Offres d'emploi</a></li>
            <li><a href="/A propos">À propos</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
        <div class="auth-buttons">
          <a routerLink="/signup" class="btn-signup">Inscription</a>
          <a routerLink="/signin" class="btn-signin">Connexion</a>
        </div>
      </div>
    </div>
  </header>