/* Ajoutez des styles personnalisés si nécessaire */
.card-body p {
    margin-bottom: 10px;
  }
  a {
    color: #007bff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }