
<div class="login-main">
    <form class="theme-form"  (ngSubmit)="onSubmit()">
      <h4>Trouvez votre compte à Poulina Future Jobs</h4>
      <p>Veuillez entrer votre e-mail pour rechercher votre compte.</p>
      

      <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

      
     

      <div class="form-group">
        <label class="col-form-label">Adresse Email</label>
        <input class="form-control" type="email" placeholder="test@gmail.com" formControlName="email">
        <div class="error-feedback" *ngIf="hasDisplayableError('email') && form.controls['email'].hasError('required')">
          Veuillez entrer votre adresse email.
        </div>
      </div>

      <div class="form-group mb-0">
        <button  class="btn btn-primary btn-block w-100 mt-3" type="submit" [disabled]="!forgotPasswordForm.valid">Envoyer le lien de réinitialisation</button>

      </div>

      
    </form>
  </div>
   


