
<!DOCTYPE html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Espace Candidat - Job Board</title>
    <meta name="description" content="Plateforme de recherche d'emploi et de gestion de candidatures">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../../../assets/User/img/favicon.ico">
</head>

<body>
  <footer>
    <div class="footer-area footer-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>À propos</h4>
                            <div class="footer-pera">
                                <p>Nous sommes une plateforme dédiée à connecter les talents avec des opportunités au sein du groupe Poulina.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Contact</h4>
                            <ul>
                                <li><p>Adresse : Tunis, Tunisie</p></li>
                                <li><a href="#">Téléphone : +216 71 123 456</a></li>
                                <li><a href="#">Email : poulina.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Liens utiles</h4>
                            <ul>
                                <li><a routerLink="/jobs">Offres d'emploi</a></li>
                                <li><a routerLink="/about">À propos</a></li>
                                <li><a routerLink="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Newsletter</h4>
                            <div class="footer-pera footer-pera2">
                                <p>Inscrivez-vous pour recevoir les dernières offres d'emploi.</p>
                            </div>
                            <div class="footer-form">
                                <form>
                                    <input type="email" placeholder="Adresse Email" class="placeholder hide-on-focus">
                                    <button type="submit" class="btn"><i class="fas fa-arrow-right"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-10 col-lg-10">
                        <div class="footer-copy-right">
                            <p>
                                <!-- Copyright &copy; {{ formatDate(new Date()) | slice:6 }} Tous droits réservés | Développé par Poulina -->
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

   <!-- Scripts -->
   <script src="../../../assets/User/js/vendor/modernizr-3.5.0.min.js"></script>
   <script src="../../../assets/User/js/vendor/jquery-1.12.4.min.js"></script>
   <script src="../../../assets/User/js/popper.min.js"></script>
   <script src="../../../assets/User/js/bootstrap.min.js"></script>
   <script src="../../../assets/User/js/jquery.slicknav.min.js"></script>
   <script src="../../../assets/User/js/owl.carousel.min.js"></script>
   <script src="../../../assets/User/js/slick.min.js"></script>
   <script src="../../../assets/User/js/price_rangs.js"></script>
   <script src="../../../assets/User/js/wow.min.js"></script>
   <script src="../../../assets/User/js/animated.headline.js"></script>
   <script src="../../../assets/User/js/jquery.magnific-popup.js"></script>
   <script src="../../../assets/User/js/jquery.scrollUp.min.js"></script>
   <script src="../../../assets/User/js/jquery.nice-select.min.js"></script>
   <script src="../../../assets/User/js/jquery.sticky.js"></script>
   <script src="../../../assets/User/js/contact.js"></script>
   <script src="../../../assets/User/js/jquery.form.js"></script>
   <script src="../../../assets/User/js/jquery.validate.min.js"></script>
   <script src="../../../assets/User/js/mail-script.js"></script>
   <script src="../../../assets/User/js/jquery.ajaxchimp.min.js"></script>
   <script src="../../../assets/User/js/plugins.js"></script>
   <script src="../../../assets/User/js/main.js"></script>
</body>
</html>