<!-- <p>details-admin works!</p>
<div class="container" *ngIf="admin">
    <h2>Détails de l'Administrateur</h2>
  
    <div class="card">
      <div class="card-body">
        <p><strong>Nom:</strong> {{ admin.nom }}</p>
        <p><strong>Prénom:</strong> {{ admin.prenom }}</p>
        <p><strong>Email:</strong> {{ admin.email }}</p>
        <p><strong>Rôle:</strong> {{ admin.role?.name }}</p>
      </div>
    </div>
  
    <a routerLink="/admin" class="btn btn-secondary mt-3">Retour</a>
  </div> -->