<div class="page-header">
  <div class="header-wrapper row m-0">
    <div class="header-logo-wrapper col-auto p-0">
      <div class="logo-wrapper">
        <a routerLink="/">
          <img class="img-fluid for-light" src="assets/images/logo/poulina_logo.jpg" alt="Logo" />
        </a>
      </div>
      <div class="toggle-sidebar" (click)="toggleSidebar()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <div class="nav-right col pull-right right-header p-0 ms-auto">
      <ul class="nav-menus">
        <li class="fullscreen-body">
          <span (click)="toggleFullScreen()">
            <svg id="maximize-screen">
              <use href="assets/svg/icon-sprite.svg#full-screen"></use>
            </svg>
          </span>
        </li>
        <li>
          <div class="mode" (click)="toggleDarkMode()">
            <svg>
              <use href="assets/svg/icon-sprite.svg#moon"></use>
            </svg>
          </div>
        </li>
        <li class="profile-nav onhover-dropdown pe-0 py-0">
          <div class="d-flex profile-media">
            <img class="b-r-10" src="assets/images/dashboard/profile.png" alt="Profile" />
            <div class="flex-grow-1">
              <span>{{ authService.getUserFullName() }}</span>
              <p class="mb-0">{{ authService.getUserRoles()[0] || 'Utilisateur' }}  <i class="middle fa-solid fa-angle-down"></i></p>
            </div>
          </div>
          <!-- <ul class="profile-dropdown onhover-show-div">
            <li><a href="#" (click)="goToProfile()"><i data-feather="user"></i><span>Profile</span></a></li>
            <li><a href="#" (click)="onLogout()"><i data-feather="log-out"></i><span>Déconnexion</span></a></li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div>
</div>