<!-- <h2>Ajouter une Filiale</h2>

<form [formGroup]="filialeForm" (ngSubmit)="onSubmit()">
  <label>Nom:</label>
  <input type="text" formControlName="nom">
  <div *ngIf="filialeForm.controls.nom.invalid && filialeForm.controls.nom.touched">
    <small style="color: red;">Nom est requis et ne doit pas dépasser 255 caractères.</small>
  </div>

  <label>Adresse:</label>
  <input type="text" formControlName="adresse">

  <label>Description:</label>
  <textarea formControlName="description"></textarea>

  <label>Photo URL:</label>
  <input type="text" formControlName="photo">

  <label>Téléphone:</label>
  <input type="text" formControlName="phone">
  <div *ngIf="filialeForm.controls.phone.invalid && filialeForm.controls.phone.touched">
    <small style="color: red;">Numéro de téléphone invalide.</small>
  </div>

  <label>Fax:</label>
  <input type="text" formControlName="fax">

  <label>Email:</label>
  <input type="email" formControlName="email">
  <div *ngIf="filialeForm.controls.email.invalid && filialeForm.controls.email.touched">
    <small style="color: red;">Email invalide.</small>
  </div>

  <label>Site Web:</label>
  <input type="text" formControlName="siteWeb">

  <button type="submit" [disabled]="filialeForm.invalid">Ajouter</button>
</form>

<p *ngIf="successMessage" style="color: green;">{{ successMessage }}</p> -->
