<div class="sidebar-wrapper" [ngClass]="{'sidebar-open': sidebarOpen}" data-sidebar-layout="stroke-svg">
  <div>
    <div class="logo-wrapper">
      <a routerLink="/">
        <img class="img-fluid" src="assets/images/logo/poulina_logo.jpg" alt="Logo" />
      </a>
      <div class="back-btn" (click)="toggleSidebar()">
        <i class="fa-solid fa-angle-left"></i>
      </div>
      <div class="toggle-sidebar" (click)="toggleSidebar()">
        <i class="status_toggle middle sidebar-toggle" data-feather="grid"></i>
      </div>
    </div>
    <div class="logo-icon-wrapper">
      <a routerLink="/">
        <img class="img-fluid" src="assets/images/logo/logo-icon.png" alt="" />
      </a>
    </div>
    <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/departement" routerLinkActive="active">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" (click)="toggleMenu('gestion')">
            Gestion
          </a>
          <ul class="list-unstyled" [class.show]="menuState['gestion']">
            <li><a class="nav-link" routerLink="/filiales" routerLinkActive="active">🔹 Filiale</a></li>
              <li><a class="nav-link" routerLink="/departement" routerLinkActive="active">🔹 Département</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>