<div class="sidebar-wrapper" [ngClass]="{'sidebar-open': sidebarOpen}" data-sidebar-layout="stroke-svg">
  <div class="sidebar-content">
    <!-- Logo -->
    <div class="logo-container text-center py-4">
      <a routerLink="/">
        <img class="img-fluid" src="assets/images/logo/poulina_logo.jpg" alt="Poulina Group Holding" style="max-width: 80%;" />
      </a>
    </div>
    
    <!-- Grid icon en haut à droite -->
    <div class="grid-icon position-absolute" style="top:
10px; right: 10px;">
      <button class="btn btn-sm btn-light">
        <i class="fa fa-th"></i>
      </button>
    </div>

    <!-- Menu items -->
    <div class="sidebar-menu">
      <!-- Menu pour Admin -->
      <ul class="list-unstyled" *ngIf="isAdmin()">
        <li class="menu-item">
          <a routerLink="/admin/dashboard" routerLinkActive="active" class="menu-link py-3 px-4 d-flex align-items-center">
            <i class="fa fa-home me-3"></i>
            <span>Accueil</span>
          </a>
        </li>
        <!-- Filiales -->
        <li class="menu-item">
          <a class="menu-link py-3 px-4 d-flex align-items-center justify-content-between" 
             data-bs-toggle="collapse" 
             href="#filiales-menu" 
             role="button" 
             aria-expanded="false" 
             aria-controls="filiales-menu"
             (click)="toggleMenu('filiales')">
            <div>
              <i class="fa fa-building me-3"></i>
              <span>Filiales</span>
            </div>
            <i class="fa fa-chevron-down"></i>
          </a>
          <div class="collapse" id="filiales-menu" [ngClass]="{'show': menuState['filiales']}">
            <ul class="submenu list-unstyled ms-4">
              <li>
                <a routerLink="/admin/filiales" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Liste des filiales
                </a>
              </li>
              <li>
                <a routerLink="/admin/filiales/add" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Ajouter une filiale
                </a>
              </li>
            </ul>
          </div>
        </li>
        <!-- Départements -->
        <li class="menu-item">
          <a class="menu-link py-3 px-4 d-flex align-items-center justify-content-between" 
             data-bs-toggle="collapse" 
             href="#departements-menu" 
             role="button" 
             aria-expanded="false" 
             aria-controls="departements-menu">
            <div>
              <i class="fa fa-sitemap me-3"></i>
              <span>Départements</span>
            </div>
            <i class="fa fa-chevron-down"></i>
          </a>
          <div class="collapse" id="departements-menu">
            <ul class="submenu list-unstyled ms-4">
              <li>
                <a routerLink="/Departements" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Liste des départements
                </a>
              </li>
              <li>
                <a routerLink="/departement/add" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Ajouter un département
                </a>
              </li>
            </ul>
          </div>
        </li>

        <!-- Utilisateurs -->
        <!-- <li class="menu-item">
          <a routerLink="" routerLinkActive="active" class="menu-link py-3 px-4 d-flex align-items-center" >
             [ngClass]="{'bg-primary text-white': activeRoute === '/admin/users'}">
            <i class="fa fa-users me-3"></i>
            <span>Utilisateurs</span>
          </a>
        </li> -->

        <li class="menu-item">
          <a 
            class="menu-link py-3 px-4 d-flex align-items-center" 
            data-bs-toggle="collapse" 
            href="#users-menu" 
            role="button" 
            aria-expanded="false" 
            aria-controls="users-menu">
            <i class="fa fa-users me-3"></i>
            <span>Utilisateurs</span>
          </a>
        
          <div class="collapse" id="users-menu">
            <ul class="submenu list-unstyled ms-4">
              <li>
                <a routerLink="/recruiter/list" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Liste des recruteurs
                </a>
              </li>
              
              <li>
                <a routerLink="/candidates" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Liste des candidats
                </a>
              </li>
             
              <li>
                <a routerLink="/admins" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Liste des administrateurs
                </a>
              </li>
            
            </ul>
          </div>
        </li>
        

        <!-- Paramètres -->
        <li class="menu-item">
          <a routerLink="/roles" routerLinkActive="active" class="menu-link py-3 px-4 d-flex align-items-center">
            <i class="fa fa-cog me-3"></i>
            <span>Role</span>
          </a>
        </li>

      </ul>
    
      <!-- Menu pour Recruteur -->
      <!-- <ul class="list-unstyled" *ngIf="isRecruteur()">
        <li class="menu-item">
          <a routerLink="/recruiter/dashboard" routerLinkActive="active" class="menu-link py-3 px-4 d-flex align-items-center">
            <i class="fa fa-home me-3"></i>
            <span>Accueil</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link py-3 px-4 d-flex align-items-center justify-content-between" 
             data-bs-toggle="collapse" 
             href="#jobs-menu" 
             role="button" 
             aria-expanded="false" 
             aria-controls="jobs-menu"
             (click)="toggleMenu('jobs')">
            <div>
              <i class="fa fa-briefcase me-3"></i>
              <span>Offres d'emploi</span>
            </div>
            <i class="fa fa-chevron-down"></i>
          </a>
          <div class="collapse" id="jobs-menu" [ngClass]="{'show': menuState['jobs']}">
            <ul class="submenu list-unstyled ms-4">
              <li>
                <a routerLink="/offres" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Liste des offres
                </a>
              </li>
              <li>
                <a routerLink="/recruiter/jobs/add" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Ajouter une offre
                </a>
              </li>
            </ul>
          </div>

          <div class="collapse" id="jobs-menu" [ngClass]="{'show': menuState['jobs']}">
            <ul class="submenu list-unstyled ms-4">
              <li>
                <a routerLink="/candidatures" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Liste des candidatures
                </a>
              </li>
              
            </ul>
          </div>
         
        </li>
      </ul> -->
      <ul class="list-unstyled" *ngIf="isRecruteur()">
        <!-- Accueil -->
        <li class="menu-item">
          <a routerLink="/recruiter/dashboard" routerLinkActive="active" class="menu-link py-3 px-4 d-flex align-items-center">
            <i class="fa fa-home me-3"></i>
            <span>Accueil</span>
          </a>
        </li>
      
        <!-- Offres d'emploi -->
        <li class="menu-item">
          <a class="menu-link py-3 px-4 d-flex align-items-center justify-content-between" 
             data-bs-toggle="collapse" 
             href="#jobs-menu" 
             role="button" 
             aria-expanded="false" 
             aria-controls="jobs-menu"
             (click)="toggleMenu('jobs')">
            <div>
              <i class="fa fa-briefcase me-3"></i>
              <span>Offres d'emploi</span>
            </div>
            <i class="fa fa-chevron-down"></i>
          </a>
          <div class="collapse" id="jobs-menu" [ngClass]="{'show': menuState['jobs']}">
            <ul class="submenu list-unstyled ms-4">
              <li>
                <a routerLink="/offres" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Liste des offres
                </a>
              </li>
              <li>
                <a routerLink="/recruiter/jobs/add" routerLinkActive="active" class="submenu-link py-2 d-block">
                  Ajouter une offre
                </a>
              </li>
            </ul>
          </div>
        </li>
      
        <!-- Liste des candidatures (as a top-level menu item) -->
        <li class="menu-item">
          <a routerLink="/candidatures" routerLinkActive="active" class="menu-link py-3 px-4 d-flex align-items-center">
            <i class="fa fa-users me-3"></i>
            <span>Liste des candidatures</span>
          </a>
        </li>
         <!-- Autres éléments du menu -->

<li class="menu-item" *ngIf="authService.hasAccessToQuiz()">
  <a routerLink="/quizzes" routerLinkActive="active" class="menu-link py-3 px-4 d-flex align-items-center">
    <i class="fa fa-users me-3"></i>
    <span>Liste des quiz</span>
  </a>
</li>

      
        <!-- Autres sections du menu Recruteur -->
      </ul>
    </div>
  </div>
</div>