<nav *ngIf="authService.isLoggedIn()">
    <a routerLink="/admin" *ngIf="authService.hasRole('Admin')">Admin</a>
    <a routerLink="/recruteur" *ngIf="authService.hasRole('Recruteur')">Recruteur</a>
    <a routerLink="/candidate" *ngIf="authService.hasRole('Candidate')">Candidate</a>
    <button (click)="authService.deleteToken(); router.navigate(['/login'])">Déconnexion</button>
  </nav>
  <router-outlet></router-outlet>
  <div class="container">
    <h1>Welcome to My App</h1>
    <img src="src/assets/images/logo.png" alt="Logo">
    <p>This is my Angular-integrated template!</p>
  </div>