  <!-- <nav *ngIf="authService.isLoggedIn()">
     <a routerLink="/admin" *ngIf="authService.hasRole('Admin')">Admin</a> 
    <a routerLink="/recruteur" *ngIf="authService.hasRole('Recruteur')">Recruteur</a>
    <a routerLink="/candidate" *ngIf="authService.hasRole('Candidate')">Candidate</a>
    <button (click)="authService.deleteToken(); router.navigate(['/login'])">Déconnexion</button> 
  </nav> 
  <router-outlet></router-outlet> -->
  <button  (click)="navigateToFiliale()">à Filiale</button>
    <button (click)="navigateToDepartement()">Aller à Département</button>
 
  
  <router-outlet></router-outlet>