<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-xl-7">
      <img class="bg-img-cover bg-center" src="assets/images/login/2.jpg" alt="Poulina Future Jobs Login">
    </div>
    <div class="col-xl-5 p-0">
      <div class="login-card login-dark">
        <div>
          <div>
            <a class="logo text-start" routerLink="/">
              <div class="img-container">
                <img class="img-fluid for-light" src="assets/images/logo/poulina_logo.jpg" alt="Poulina Future Jobs">
                
            </div>
            
            </a>
          </div>
          
            <router-outlet></router-outlet>
            <div class="toast-container" *ngIf="false"> 
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <!-- Image container -->
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
                </div>
        <!-- Form container -->
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <div class="login-card login-dark">
            <div>
              <a class="logo text-start" routerLink="/">
                <div class="img-container">
                  <!-- <img class="img-fluid for-light" src="assets/images/logo/poulina_logo.jpg" alt="Poulina Future Jobs"> -->
                </div>
              </a>
            </div>
  
            <router-outlet></router-outlet>
            
            <!-- <div class="toast-container" *ngIf="false"></div> -->
  
          </div>
        </div>
      </div>
    </div>
  </section>
  
  