<!-- signin.component.html -->
<div class="container-fluid">
  <div class="row">
    <!-- Background Image Section -->
    <div class="col-xl-7">
      <img class="bg-img-cover bg-center" src="assets/images/login/2.jpg" alt="Poulina Future Jobs Login">
    </div>
    <!-- Login Form Section -->
    <div class="col-xl-5 p-0">
      <div class="login-card login-dark">
        <div>
          <!-- Logo -->
          <div>
            <a class="logo text-start" routerLink="/">
              <div class="img-container">
                <img class="img-fluid for-light" src="assets/images/logo/poulina_logo.jpg" alt="Poulina Future Jobs">
                
            </div>
            
            </a>
          </div>
     
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>