<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <app-header></app-header>
  
    <div class="page-body-wrapper">
      <app-sidebar></app-sidebar>
  
      <div class="page-body">
        <div class="container-fluid">
          <!-- Error Messages -->
          <div class="alert alert-danger alert-block" *ngIf="errorMessages.length > 0">
            <strong>Une erreur s'est produite :</strong>
            <ul>
              <li *ngFor="let error of errorMessages">{{ error }}</li>
            </ul>
          </div>
  
        
  
          <div class="row justify-content-center">
            <div class="col-sm-8">
              <div class="card details-card">
                <h1 class="card-title">Détails du Département</h1>
                <div class="card-body">
                  <p><strong>Nom :</strong> {{ departement?.nom || 'N/A' }}</p>
                  <p><strong>Description :</strong> {{ departement?.description || 'N/A' }}</p>
                  <p><strong>Filiale :</strong> {{ filiale?.nom || 'N/A' }}</p>
                  <p><strong>Adresse :</strong> {{ filiale?.adresse || 'N/A' }}</p>
                  <p><strong>Date de Création :</strong> {{ departement?.dateCreation | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
                <div class="card-footer">
                  <button class="btn btn-back" (click)="goBack()">← Retour à la liste des départements</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>