
          <div class="login-main">
            <form class="theme-form" [formGroup]="form" (ngSubmit)="onSubmit()">
              <h4>Connexion à Poulina Future Jobs</h4>
              <p>Entrez votre email et mot de passe pour vous connecter</p>
              

              <div class="form-group">
                <label class="col-form-label">Adresse Email</label>
                <input class="form-control" type="email" placeholder="test@gmail.com" formControlName="email">
                <div class="error-feedback" *ngIf="hasDisplayableError('email') && form.controls['email'].hasError('required')">
                  Veuillez entrer votre adresse email.
                </div>
              </div>

              <div class="form-group">
                <label class="col-form-label">Mot de passe</label>
                <div class="form-input position-relative">
                  <input class="form-control" type="password" placeholder="*********" formControlName="password">
                  <div class="show-hide"><span class="show"></span></div> 
                </div>
                <div class="error-feedback" *ngIf="hasDisplayableError('password') && form.controls['password'].hasError('required')">
                  Veuillez entrer votre mot de passe.
                </div>
              </div>
              <div class="d-flex justify-content-around align-items-center mb-4">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                  <label class="form-check-label" for="form1Example3"> Remember me </label>
                </div>
                <a routerLink="/forgot-password">Mot de passe oublié ?</a>
              </div>

              <div class="form-group mb-0">
                <button class="btn btn-primary btn-block w-100 mt-3" type="submit">
                  Se connecter
                </button>
              </div>

              <p class="mt-4 mb-0 text-center">
                Pas de compte ? 
                <a class="ms-2" routerLink="/signup">Créer un compte</a>
              </p>
            </form>
          </div>
           

       