/* You can add global styles to this file, and also import other style filesstyles.css */
.ngx-toastr {
  top: 0 !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: auto !important;
  margin: 10px auto !important;
}


