<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>

  <br><br><br>
  <div class="page-body-wrapper">
    <app-sidebar [sidebarOpen]="sidebarOpen"></app-sidebar>

    <div class="page-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Liste des Offres d'Emploi :</h4>
              </div>

              <!-- Search Form -->
              <div class="card-body">
                <form [formGroup]="searchForm">
                  <div class="row">
                    <div class="col-md-2">
                      <input
                        type="text"
                        class="form-control mb-3"
                        formControlName="titre"
                        placeholder="Rechercher par titre..."
                      >
                    </div>
                    <div class="col-md-2">
                      <input
                        type="text"
                        class="form-control mb-3"
                        formControlName="specialite"
                        placeholder="Rechercher par spécialité..."
                      >
                    </div>
                    <div class="col-md-2">
                      <select class="form-control mb-3" formControlName="typeContrat">
                        <option value="">Tous les types de contrat</option>
                        <option *ngFor="let type of typeContrats" [value]="type[1]">{{ type[0] }}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <select class="form-control mb-3" formControlName="statut">
                        <option value="">Tous les statuts</option>
                        <option *ngFor="let statut of statuts" [value]="statut[1]">{{ statut[0] }}</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <select class="form-control mb-3" formControlName="modeTravail">
                        <option value="">Tous les modes de travail</option>
                        <option *ngFor="let mode of modesTravail" [value]="mode[1]">{{ mode[0] }}</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>

              <div class="text-right">
                <a routerLink="/offres/create" class="btn btn-primary mt-3">
                  <i class="fa fa-plus"> Ajouter une nouvelle offre</i>
                </a>
              </div>

              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                      <tr>
                        <th>N°</th>
                        <th>Titre</th>
                        <th>Spécialité</th>
                        <th>Type de Contrat</th>
                        <th>Mode de travail</th>
                        <th>Nombre de postes</th>
                        <th>Statut</th>
                        <th>Nom Filiale</th>
                        <th>Date de publication</th>
                        <th>Date d'expiration</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let offre of paginatedOffres; let i = index">
                        <td>{{ i + 1 + (currentPage * pageSize) }}</td>
                        <td>{{ offre.titre }}</td>
                        <td>{{ offre.specialite }}</td>
                        <td>{{ getEnumValue(typeContrats, offre.typeContrat) }}</td>
                        <td>{{ getEnumValue(modesTravail, offre.modeTravail) }}</td>
                        <td>{{ offre.nombrePostes }}</td>
                        <td>{{ getEnumValue(statuts, offre.statut) }}</td>
                        <td>{{ getNomFiliale(offre.idFiliale) }}</td>
                        <td>{{ offre.datePublication }}</td>
                        <td>{{ offre.dateExpiration }}</td>
                        <td>
                          <div class="d-flex">
                            <a routerLink="/offres/update/{{ offre.idOffreEmploi }}" class="btn btn-primary shadow btn-xs sharp mr-1">
                              <i class="fa fa-pencil"></i>
                            </a>
                            <button (click)="deleteOffre(offre.idOffreEmploi)" class="btn btn-danger shadow btn-xs sharp mr-1">
                              <i class="fa fa-trash"></i>
                            </button>
                            <a routerLink="/offres/details/{{ offre.idOffreEmploi }}" class="btn btn-info shadow btn-xs sharp">
                              <i class="fa fa-eye"></i>
                            </a>
                          </div>
                        </td>
                      </tr>
                      <tr *ngIf="paginatedOffres.length === 0">
                        <td colspan="11" class="text-center">
                          {{ offres.length === 0 ? 'Chargement des offres en cours...' : 'Aucune offre trouvée' }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Pagination Component -->
                <app-pagination
                  *ngIf="filteredOffres.length > 0"
                  [totalItems]="totalItems"
                  [pageSize]="pageSize"
                  [currentPage]="currentPage"
                  (pageChange)="onPageChange($event)">
                </app-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>