<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>

    <br>
    <br>
    <br>
    <div class="page-body-wrapper">
        <app-sidebar [sidebarOpen]="sidebarOpen"></app-sidebar>

        <div class="page-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Liste des Rôles :</h4>
                            </div>
                            <div class="text-right">
                                <a routerLink="/roles/add" class="btn btn-primary mt-3">
                                    <i class="fa fa-plus"> Ajouter un nouveau rôle</i>
                                </a>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr>
                                                <th><strong>ID#</strong></th>
                                                <th><strong>Nom</strong></th>
                                                <th><strong>Actions</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let role of roles">
                                                <td>{{ role.id }}</td>
                                                <td>{{ role.name }}</td>
                                                <td>
                                                    <div class="d-flex">
                                                        <a routerLink="/roles/edit/{{ role.id }}" class="btn btn-primary shadow btn-xs sharp mr-1">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                        <button (click)="deleteRole(role.id)" class="btn btn-danger shadow btn-xs sharp">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                        <a routerLink="/roles/{{ role.id }}" class="btn btn-primary shadow btn-xs sharp mr-2">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-footer></app-footer>
</div>

